@import "../../../assets/styles/variables";
@import "../../../assets/styles/auth-form";

.main {
  padding: 0 0 60px 0;

  .container {
    .main-carousel {
      position: relative;

      .main-item {
        padding: 86px 0 0 80px;
        position: relative;
        height: 500px;
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        box-sizing: border-box;
        z-index: 1;

        &.first {
          .main-title {
            margin-bottom: 40px;
          }

        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 703px;
          height: 500px;
          z-index: -1;
        }

        .main-category {
          font-weight: 600;
          font-size: 12px;
          line-height: 130%;
          letter-spacing: 0.4em;
          text-transform: uppercase;
          color: #709FDC;
        }

        .main-title {
          max-width: 600px;
          font-family: 'Lora', sans-serif;
          font-weight: 400;
          font-size: 50px;
          line-height: 130%;
          color: #FFFFFF;
          margin-bottom: 20px;

          span {
            color: $light-blue-text-color;
          }
        }

        .main-description {
          max-width: 456px;
          font-size: 24px;
          line-height: 130%;
          color: #FFFFFF;
          margin-bottom: 50px;
        }

        .button {
          width: 163px;
          height: 51px;
          font-size: 16px;
        }
      }

      .menu-arrows {
        display: flex;

        a {
          display: flex;
          position: absolute;
          top: calc(50% - 5px);
          cursor: pointer;
          z-index: 10;

          &.move-backward {
            left: 11px;
          }

          &.move-forward {
            right: 11px;
          }
        }

      }
    }
  }

}

.offers {
  padding: 60px 0;

  .container {

    .offers-title {
      @include main-title;
      font-size: 38px;
      margin-bottom: 40px;
    }

    .offers-items {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      .offers-item {
        width: 290px;

        .offers-item-image {
          width: 290px;
          height: 290px;
          background-position: center;
          background-size: cover;
          border-radius: 5px;
          margin-bottom: 15px;
        }

        .offers-item-title {
          font-weight: 500;
          font-size: 20px;
          color: $light-blue-text-color;
          margin-bottom: 10px;
        }

        .offers-item-description {
          height: 90px;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: $dark-blue-text-color;
          margin-bottom: 33px;
        }

        .offers-item-action {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .offers-item-price {
            font-weight: 600;
            font-size: 20px;
            color: $light-blue-text-color;
          }

          .button {
            width: 163px;
            height: 51px;
            font-size: 16px;
          }

        }
      }
    }

  }
}

.advantages {
  padding: 60px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .advantages-image {
      min-width: 460px;
      height: 453px;
      background-position: center;
      background-size: cover;
      border-radius: 5px;
      margin-right: 68px;
    }

    .advantages-info {

      .advantages-info-main-title {
        @include main-title;
        font-size: 38px;
        margin-bottom: 20px;
      }

      .advantages-info-description {
        max-width: 633px;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #1E1A2B;
        margin-bottom: 40px;

        span {
          font-weight: 500;
        }
      }

      .advantages-info-title {
        @include main-title;
        font-size: 26px;
        margin-bottom: 20px;
      }

      .advantages-info-items {
        display: grid;
        grid-template-columns: repeat(2, 316px);
        grid-template-rows: repeat(2, 90px);
        gap: 20px 71px;

        .advantages-info-item {
          display: flex;
          align-items: center;

          .advantages-info-item-count {
            position: relative;
            min-width: 40px;
            font-family: 'Lora', sans-serif;
            font-weight: 500;
            font-size: 50px;
            line-height: 130%;
            text-align: center;
            color: $light-blue-text-color;
            margin-right: 20px;

            &:before {
              content: '';
              width: 40px;
              height: 40px;
              position: absolute;
              top: 20px;
              left: 0;
              background: #B9D5FD;
              border-radius: 50%;
              z-index: -1;
            }
          }

          .advantages-info-item-text {
            min-width: 256px;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: #1E1A2B;

            span {
              font-weight: 500;
            }
          }
        }
      }

    }

  }
}

.popular {
  padding: 60px 0;

  .container {

    .popular-title {
      @include main-title;
      font-size: 38px;
      margin-bottom: 40px;
    }

    .popular-articles {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;

    }

    .popular-action {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: .5s;

      span {
        font-weight: 500;
        font-size: 20px;
        color: $light-blue-text-color;
        margin-right: 14px;
        transition: .5s;
      }

      svg {
        fill: #709FDC;
      }

      &:hover {
        span {
          color: #4c6b94;
          transition: .5s;
        }

        svg {
          fill: #4c6b94;
          transition: .5s;
        }
      }
    }

  }
}

.reviews {
  padding: 60px 0;

  .container {
    .reviews-title {
      @include main-title;
      margin-bottom: 20px;
    }

    .reviews-carousel {
      position: relative;

      .reviews-item {
        padding: 30px;
        width: 396px;
        height: 267px;
        border: 2px solid #709FDC;
        border-radius: 5px;
        box-sizing: border-box;

        .reviews-item-head {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          .reviews-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .reviews-item-name {
            font-weight: 600;
            font-size: 18px;
            color: $light-blue-text-color;

          }
        }

        .reviews-item-text {
          margin-top: 15px;
          font-size: 16px;
          line-height: 140%;
          color: $dark-blue-text-color;
        }
      }

      .reviews-arrows {
        display: flex;

        a {
          display: flex;
          position: absolute;
          top: calc(50% - 5px);
          cursor: pointer;

          &.move-backward {
            left: -41px;
          }

          &.move-forward {
            right: -41px;
          }
        }

      }

    }

  }
}

.contacts {
  padding: 60px 0 120px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .map iframe {
      vertical-align: bottom;
      margin-right: 26px;
    }

    .contacts-info {

      .contacts-info-main-title {
        @include main-title;
        font-size: 38px;
        margin-bottom: 20px;
      }

      .contacts-info-title {
        font-weight: 500;
        font-size: 20px;
        color: $light-blue-text-color;
        margin-bottom: 10px;
      }

      .contacts-info-text {
        font-size: 14px;
        line-height: 130%;
        color: $dark-blue-text-color;
        margin-bottom: 20px;
      }

      .contacts-info-social {
        .contacts-info-icons {
          a {
            &:not(:last-child) {
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}

.popup {
  padding: 163px 0;
  position: relative;
  width: 727px;
  background: #FFFFFF;
  border: 1px solid #709FDC;
  border-radius: 10px;

  &.order-popup {
    padding: 95px 0 86px 0;

    .button {
      width: 422px;
      height: 51px;
      font-size: 16px;
    }
  }

  .popup-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  .popup-title {
    @include main-title;
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
  }

  .popup-content {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #1E1A2B;
    margin-bottom: 40px;

    &.order-popup-content {
      width: 422px;
      margin: 0 auto 20px;
    }

    &.auth-form {
      .auth-inputs {
        .auth-input {
          select.input {
            padding: 16px 20px;
            color: $light-blue-text-color;
            appearance: none;
          }
        }
      }
    }

  }

  .button {
    display: block;
    width: 73px;
    height: 36px;
    font-size: 12px;
    margin: 0 auto;
  }

  .request-error {
    padding-top: 10px;
    font-size: 13px;
    color: #e03030;
    text-align: center;
  }
}
