@import "../../../assets/styles/variables";

.main {
  padding: 0 0 60px 0;

  &__carousel {
    position: relative;

    .menu-arrows {
      display: flex;

      a {
        display: flex;
        position: absolute;
        top: calc(50% - 5px);
        cursor: pointer;
        z-index: 10;

        &.move-backward {
          left: 11px;
        }

        &.move-forward {
          right: 11px;
        }
      }

    }
  }

  .slide {
    padding: 86px 0 0 80px;
    position: relative;
    height: 500px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    z-index: 1;

    &.first {
      &__title {
        margin-bottom: 40px;
      }
    }

    &__category {
      font-weight: 600;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.4em;
      text-transform: uppercase;
      color: #709FDC;
    }

    &__title {
      max-width: 600px;
      font-family: 'Lora', sans-serif;
      font-weight: 400;
      font-size: 50px;
      line-height: 130%;
      color: #FFFFFF;
      margin-bottom: 20px;

      span {
        color: $light-blue-color;
      }
    }

    &__description {
      max-width: 456px;
      font-size: 24px;
      line-height: 130%;
      color: #FFFFFF;
      margin-bottom: 50px;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 703px;
      height: 500px;
      z-index: -1;
    }

    &__button {
      width: 163px;
      height: 51px;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1170px) {
  .main {

    &__carousel {
      position: relative;

      .menu-arrows {
        display: flex;

        a {
          display: flex;
          position: absolute;
          top: calc(50% - 5px);
          cursor: pointer;
          z-index: 10;

          &.move-backward {
            left: 11px;
          }

          &.move-forward {
            right: 11px;
          }
        }

      }
    }

    .slide {
      padding: 86px 0 0 50px;
      position: relative;
      height: 500px;
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      box-sizing: border-box;
      z-index: 1;

      &.first {
        &__title {
          margin-bottom: 40px;
        }
      }

      &__category {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        color: #709FDC;
      }

      &__title {
        max-width: 600px;
        font-family: 'Lora', sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 20px;

        span {
          color: $light-blue-color;
        }
      }

      &__description {
        max-width: 456px;
        font-size: 24px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 50px;
      }

      &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 650px;
        height: 500px;
        z-index: -1;
      }

      &__button {
        width: 163px;
        height: 51px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .main {

    &__carousel {
      .menu-arrows {
        display: none;
      }
    }

    .slide {
      padding: 20px 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      background-image: none!important;
      background-color: $light-bg-color;
      height: 500px;
      z-index: 1;

      &.first {
        &__title {
          margin-bottom: 40px;
        }
      }

      &__category {
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        color: #709FDC;
      }

      &__title {
        max-width: 600px;
        font-family: 'Lora', sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 20px;

        span {
          color: $light-blue-color;
        }
      }

      &__description {
        max-width: 456px;
        font-size: 24px;
        line-height: 130%;
        color: #FFFFFF;
        margin-bottom: 50px;
      }

      &__image {
        display: none;
      }

      &__button {
        width: 163px;
        height: 51px;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .main {

    &__carousel {
      .menu-arrows {
        display: none;
      }
    }

    .slide {
      padding: 20px;

      &.first {
        &__title {
          margin-bottom: 40px;
        }
      }

      &__title {
        font-size: 32px;
        line-height: 130%;
      }

      &__description {
        font-size: 18px;
      }

    }
  }
}
