<div class="article">

  <a [routerLink]="'/article/' + article.url" class="article-info">

    <div class="article-image"
         [ngStyle]="{'background-image': 'url(' + serverStaticPath + article.image + ')'}">
      <div class="article-category">{{article.category}}</div>
    </div>

    <div class="article-title">{{article.title}}</div>

    <div class="article-description">
      {{article.description | reduceTheText}}
    </div>

  </a>

  <a [routerLink]="'/article/' + article.url" class="article-more">Читать дальше</a>

</div>
