<nav class="side-nav" [class.open]="isOpen">
  <ul class="side-nav__list">
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">Услуги</a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">О нас</a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">Статьи</a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">Отзывы</a>
    </li>
    <li class="side-nav__item">
      <a href="#" class="side-nav__link">Контакты</a>
    </li>
  </ul>
</nav>
