<section class="login" [formGroup]="loginForm">
  <div class="container">

    <div class="auth-form">

      <div class="auth-form__title">Войти в личный кабинет</div>

      <div class="auth-form__inputs">
        <div class="auth-form__input">
          <input type="text" class="input" placeholder="Электронная почта"
                 formControlName="email"
          >
          <input type="password" class="input" placeholder="Пароль"
                 formControlName="password"
          >
        </div>
        <div class="auth-form__checkbox">
          <input type="checkbox" id="remember"
                 formControlName="rememberMe"
          >
          <label for="remember">Запомнить меня</label>
        </div>
      </div>

      <div class="auth-form__action">
        <button class="button"
                [disabled]="loginForm.invalid"
                (click)="login()"
        >Войти</button>
      </div>

      <div class="auth-form__link">
        Нет аккаунта? <a routerLink="/signup">Пройдите регистрацию</a>
      </div>

    </div>

    <div class="page-image">
      <img src="/assets/images/pages/login.png" alt="Woman">
    </div>

  </div>
</section>
