@import "../../../../assets/styles/auth-form";

.signup {
  padding: 120px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .auth-form {
      .auth-checkbox {
        max-width: 422px;
        align-items: baseline;

        label {
          a {
            color: $light-blue-text-color;
            text-decoration: underline;
            transition: .5s;

            &:hover {
              color: #4c6b94;
              transition: .5s;
            }
          }
        }
      }
    }

  }
}
