<section class="signup" [formGroup]="signupForm">
  <div class="container">

    <div class="auth-form">

      <div class="auth-form__title">Регистрация на сайте</div>

      <div class="auth-form__inputs">
        <div class="auth-form__input">
          <input type="text" class="input" placeholder="Ваше имя"
                 [ngStyle]="{'border-color': signupForm.get('name')?.invalid && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched) ? 'red' : ''}"
            formControlName="name"
          >
          <input type="text" class="input" placeholder="Электронная почта"
                 [ngStyle]="{'border-color': signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched) ? 'red' : ''}"
                 formControlName="email"
          >
          <input type="password" class="input" placeholder="Пароль"
                 [ngStyle]="{'border-color': signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched) ? 'red' : ''}"
                 formControlName="password"
          >
        </div>
        <div class="auth-form__checkbox">
          <input type="checkbox" id="agree"
                 formControlName="agree"
          >
          <label for="agree">
            Я принимаю
            <a routerLink="/signup" fragment="licenseAgreement" target="_blank" id="licenseAgreement">
              условия пользовательского соглашения
            </a>
            и даю
            <a routerLink="/signup" fragment="personaData" target="_blank" id="personaData">
              согласие на обработку персональных данных
            </a>.
          </label>
        </div>
      </div>

      <div class="auth-form__action">
        <button class="button"
                [disabled]="signupForm.invalid"
                (click)="signup()"
        >
          Зарегистрироваться
        </button>
      </div>

      <div class="auth-form__link">
        Уже есть аккаунт? <a routerLink="/login">Войдите</a>
      </div>

    </div>

    <div class="page-image">
      <img src="/assets/images/pages/signup.png" alt="Woman">
    </div>

  </div>
</section>
