@import "../../../../assets/styles/auth-form";

.signup {
  padding: 120px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .auth-form {
      &__checkbox {
        max-width: 422px;
        align-items: baseline;

        label {
          a {
            color: $light-blue-color;
            text-decoration: underline;
            transition: .5s;

            &:hover {
              color: #4c6b94;
              transition: .5s;
            }
          }
        }
      }
    }

  }
}

@media screen and (max-width: 1023px) {
  .signup {
    padding: 60px 0;

    .container {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }
}
