@import "variables";

.auth-form {
  .auth-title {
    @include main-title;
    margin-bottom: 40px;
  }

  .auth-inputs {

    .auth-input {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      .input {
        padding: 18px 20px;
        width: 422px;
        height: 53px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 16px;
        color: #414141;

        background: #FFFFFF;
        border: 1.5px solid #709FDC;
        border-radius: 3px;
        outline: none;
        box-sizing: border-box;
        margin-bottom: 5px;

        &::placeholder {
          font-family: 'Montserrat', sans-serif;
          font-weight: 400;
          font-size: 14px;
          color: #A8ABA7;
        }
      }
    }

    .auth-checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 45px;

      input {
        margin-right: 10px;
        cursor: pointer;
      }

      label {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $dark-blue-text-color;
        cursor: pointer;
      }
    }

  }

  .auth-action {
    margin-bottom: 10px;

    .button {
      width: 422px;
      height: 51px;
      font-weight: 400;
      font-size: 16px;
    }

  }

  .auth-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #1E1A2B;

    a {
      color: $light-blue-text-color;
      transition: .5s;

      &:hover {
        color: #4c6b94;
        transition: .5s;
      }
    }
  }
}
