@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: 'Lora';
  src: url("../fonts/Lora-Regular.woff2");
  font-weight: 400;
}
