@import "variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.button {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  background: #709FDC;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s;

  &:hover {
    background: #4c72a4;
    transition: .5s;
  }

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

.mat-mdc-menu-content, .mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $dark-blue-text-color;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  position: relative;
  margin-top: -30px;
  z-index: 10;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: transparent;
  border: 1px solid #ffffff;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
}

.detail-article-content-text {

  h1, h1 + p {
    display: none;
  }

  h3 {
    font-weight: 500;
    font-size: 20px;
    color: $light-blue-text-color;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    line-height: 130%;
    color: $dark-blue-text-color;
  }

  b, i {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: $dark-blue-text-color;
  }
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent!important;
  box-shadow: none;
  border-radius: 10px!important;
}

