$container-width: 1240px;
$dark-blue-text-color: #071739;
$light-blue-text-color: #709FDC;

@mixin main-title {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: $light-blue-text-color;
}
